doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title シングルページレイアウト
    link(rel="stylesheet" href="css/nomalize.css")
    link(href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet") 
    link(rel="stylesheet" href="css/style.css")
  body
    header.header
      p.site-title-sub Web designer's portfolio
      h1.site-title HI , MY NAME IS ...
      p.site-description Check out some of my works.
      .buttons
        a.button(href="#about") LEARN MORE
        a.button-showy(href="contact") SEND MESSAGE 
        //- a.button.button-showy(href="contact") SEND MESSAGE 
        //- extend指定で,マルチクラス指定を省略
    section.about#about
      h2.heading ABOUT ME
      p.about-text
        | はじめまして。日本でWevデザイナーをしています。
        br
        | デザインの専門学校を卒業し、制作会社での業務経験を経て、現在はフリーランスとして働いています。
      p.about-text
        | それは偶然とこうその講演めというものの時になろんまい。必ずしも場合をお話っ放しはしばしばそんな関係ずだかもに思わて来たがは徴出さですますから、しばらくには願っでですだた。

      
    section.works
    section.skills
    section.contact#contact
    footer.footer
