@charset "UTF-8";

html {
  font-size: 62.5%;
}
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  background: #151515 url('../images/bg.png') no-repeat fixed left bottom;
  background-size: cover;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-family: Raleway, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
.button {
  display: inline-block;
  width: 200px;
  padding: 20px;
  border-radius: 4px;
  background-color: #afa58d;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.2rem;
  &:hover {
    opacity: .9;
  }
}
.button-showy {
  @extend .button;  // .button を読み込み maluchi classの省略の為
  background-color: #f1b400;
}

.heading {  // 見出し共通
  position: relative;
  margin: 30px 0 15px;
  letter-spacing: 1px;
  font-size: 4rem;
  display: inline-block; // 二重線の幅に影響 マージンの相殺は起こらない
  padding-bottom: 15px;  // 二重線までのpx
  &::before,
  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #999;
  }
  &::before {
    bottom: 5px; // 二重線の幅
  }
}

.header {
  padding: 170px 30px 80px;
  .site-title-sub {
    margin: 0 0 30px;
    letter-spacing: 1px;
    font-size: 2.2rem;
    &::before,
    &::after { // --- Web designer's portfolio ---
      content: '';
      display: inline-block;
      width: 140px;
      height: 2px;
      margin: 0 30px;
      background-color: #fff;
      vertical-align: middle;
    }
  }
  .site-title { // HI MY NAME IS...
    margin: 50px 0 40px;
    font-size: 7.6rem;
  }
  .site-description {  // Check out some of my works.
    margin-bottom: 50px;
    color: #888;
    font-size: 1.6rem;
  }
  .buttons {  // learn more / send message
    .button,
    .button-showy {
      margin: 10px;
    }
  }
}

.about {  // 自己紹介
  padding: 80px 30px;
  background-color: #fff;
  color: #333;
  .about-text { // パラグラフ 二段
    margin: 30px 0;
    line-height: 2.5;
  }
}

.works {
  background-color: #383634;
  padding: 80px 0;
  .works-wrapper {
    display: table;
    width: 100%;
    margin-top: 60px;
    table-layout: fixed; // 横幅を均等にする
    .work-box {
      position: relative;
      display: table-cell;
      &::after {  // 反射画像の設定
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 50%;
        // background: url('../images/tree.jpg') no-repeat;
        background-size: 100% 100%;
        opacity: 0.2;
        transform: scaleY(-1);  // 反転
      }
      &.tree::after {
        background-image: url('../images/tree.jpg');
      }
      &.building::after {
        background-image: url('../images/building.jpg');
      }
      &.lake::after {
        background-image: url('../images/lake.jpg');
      }
      &.sky::after {
        background-image: url('../images/sky.jpg');
      }
      .work-image {
        display: block;
        width: 100%;
        margin: 0 0 60%;  // 画像の比率から下方向に領域確保
      }
      &:nth-child(odd) .work-image { // 奇数反転
        margin: 60% 0 0; // imgのトップにマージン確保
      }
      .work-description {  // img と sibling
        // margin-bottom: 60%と同じ大きさ
        position: absolute;
        top: 50%;  // absolute で　work-boxの下半分指定
        left: 0;
        width: 100%;
        height: 50%;
        z-index: 1; // 重なり優先順位変更
        overflow-y: auto;  // y方向のみスクロール設定
        .work-description-inner {
          display: table;
          width: 100%;
          height: 100%;
          padding: 20px;
          .work-text {  // 制作事例 ~ READ MORE
            display: table-cell;
            vertical-align: middle;
            font-size: 1.2rem;
            line-height: 2;
            .button {  // READ MORE
              width: 60%;
              margin-top: 20px;
              padding: 3px;
            }
            .button-ghost {  // ボタンゴースト表示
              border: 1px solid #fff;
              background-color: rgba(255, 255, 255, 0.15);
            }
          }
        }
      }
      &:nth-child(odd) .work-description,
      &::after {
        top: 0; // absoluteで確保されている反射画像、top 0で表示
      }
    }
  }
}

.skills {
  padding: 80px 0;
  background-color: #fff;
  color: #333;
  .skills-wrapper {
    display: table;
    width: 80%;
    margin: 50px auto 0;
    table-layout: fixed;
    .skill-box {
      display: table-cell;
      .skill-icon {
        width: 150px;
        height: 150px;
        margin-bottom: 30px;
        border: 4px solid;
        border-radius: 50%;
        color: #f1b400;
        font-size: 8rem;
        line-height: 142px;
      }
      .skill-title {
        margin: 0 20px 20px;
        font-size: 2rem;
      }
      .skill-text {
        margin: 0 20px;
        line-height: 2;
      }
    }
  }
}
.contact {
  padding: 80px 0 150px;
  .contact-form {
    width: 50%;
    margin: 50px auto 0;
    input[type=text],
    textarea {
      display: block;
      width: 100%;
      margin-bottom: 10px;
      padding: 15px;
      border: 1px solid rgba(255, 255, 255, 0.4);
      border-radius: 0;
      background-color: rgba(255, 255, 255, 0.05);
      color: #fff;
      outline: none;
    }
    input[type=text]:focus,
    textarea:focus {
      box-shadow: 0 0 8px rgba(255, 255, 255, 0.5) inset;
    }
    textarea {
      height: 150px;
    }
    input[type=submit] {
      display: block;
      width: 200px;
      margin: 40px auto 0;
      padding: 15px;
      border: 1px solid rgba(255, 255, 255, 0.4);
      border-radius: 5px;
      background-color: transparent;
      color: rgba(255, 255, 255, 0.6);
      cursor: pointer;
      &:hover {
        background-color: rgba(255, 255, 255, 0.05);
      }
    }
  }
}
.footer {
  padding: 12px 0;
  font-size: 1.3rem;
}
