extend /_includes/_layout
append variables
  //- Required
  - var pageTitle= "グリッドレイアウト";
  - var pageDescription= site.description;
  - var pageKeywords= site.keywords;
  //- Optional
  - var pageOgpTitle= "";
  - var pageOgpImage= site.ogpImage
  - var pageLang= "ja";
  - var pageOgpType= "website";
  //- Not modified
  - var pageUrl= relativePath;

block content
  section.item.item-maindish
    a(href="#")
      img.image(src="/assets/images/image_S_1.jpg" alt="メインディッシュ")
      .category MAIN DISH
      p.description それは偶然とこうその講演めというものの時になろんまい。必ずしも場合をお話っ放しはしばしばそんな関係ずだかもに思わて来たがは徴出さですますから、しばらくには願っでですだた。
  section.item.item-appetizer
    a(href="#")
      img.image(src="/assets/images/image_S_2.jpg" alt="前菜")
      .category APPETIZER
      p.description 鮒の先刻を、そんな巡査に時間に使えかも、事実上といっそ結果何一二人が云っでもの世の中に、あなたか考えある講演を考えませ場合はもっともするれのならて、おもにこう欄をなかって、そののにいる事が高等なたまら
  section.item.item-column
    a(href="#")
      img.image(src="/assets/images/image_S_3.jpg" alt="メインディッシュ")
      .category COLUMN
      p.description その赤は十分恥ずかしい自由好かろと始めなのたは云えないで、悪くっ圏外の時を根ざしで主義でしするとなるて行くたのなん。
  section.item.item-breaktime
    a(href="#")
      img.image(src="/assets/images/image_S_4.jpg" alt="メインディッシュ")
      .category BREAK TIME
      p.description おもにこう欄をなかって、そののにいる事が高等なたまらなくしたます。しかもいったん生涯三十一人が思 
  section.item.item-column
    a(href="#")
      img.image(src="/assets/images/image_S_5.jpg" alt="メインディッシュ")
      .category COLUMN
      p.description その赤は十分恥ずかしい自由好かろと始めなのたは云えないで、悪くっ圏外の時を根ざしで主義でしするとなるて行くたのなん。
  section.item.item-breaktime
    a(href="#")
      img.image(src="/assets/images/image_S_6.jpg" alt="メインディッシュ")
      .category BREAK TIME
      p.description おもにこう欄をなかって、そののにいる事が高等なたまらなくしたます。しかもいったん生涯三十一人が思 
  section.item.item-appetizer
    a(href="#")
      img.image(src="/assets/images/image_S_7.jpg" alt="前菜")
      .category APPETIZER
      p.description 鮒の先刻を、そんな巡査に時間に使えかも、事実上といっそ結果何一二人が云っでもの世の中に、あなたか考えある講演を考えませ場合はもっともするれのならて、おもにこう欄をなかって、そののにいる事が高等なたまら
  section.item.item-column
    a(href="#")
      img.image(src="/assets/images/image_S_8.jpg" alt="メインディッシュ")
      .category COLUMN
      p.description その赤は十分恥ずかしい自由好かろと始めなのたは云えないで、悪くっ圏外の時を根ざしで主義でしするとなるて行くたのなん。
  section.item.item-maindish
    a(href="#")
      img.image(src="/assets/images/image_S_9.jpg" alt="メインディッシュ")
      .category MAIN DISH
      p.description それは偶然とこうその講演めというものの時になろんまい。必ずしも場合をお話っ放しはしばしばそんな関係ずだかもに思わて来たがは徴出さですますから、しばらくには願っでですだた。
  section.item.item-appetizer
    a(href="#")
      img.image(src="/assets/images/image_S_10.jpg" alt="前菜")
      .category APPETIZER
      p.description 鮒の先刻を、そんな巡査に時間に使えかも、事実上といっそ結果何一二人が云っでもの世の中に、あなたか考えある講演を考えませ場合はもっともするれのならて、おもにこう欄をなかって、そののにいる事が高等なたまら
