extend /_includes/_layout
append variables
  //- Required
  - var pageTitle= "グリッドレイアウト";
  - var pageDescription= site.description;
  - var pageKeywords= site.keywords;
  //- Optional
  - var pageOgpTitle= "";
  - var pageOgpImage= site.ogpImage
  - var pageLang= "ja";
  - var pageOgpType= "website";
  //- Not modified
  - var pageUrl= relativePath;

block content
  section.item
    a(href="#")
      img.image(src="/assets/images/image_S_1.jpg" alt="メインディッシュ")
      .category MAIN DISH
      p.description それは偶然とこうその講演めというものの時になろんまい。必ずしも場合をお話っ放しはしばしばそんな関係ずだかもに思わて来たがは徴出さですますから、しばらくには願っでですだた。
